<% if (credit !== null) { %>
<h3><%= (credit ? 'Creditar' : 'Debitar') + ' conta  - ' + account.get('name') %></h3>
<% } else { %>
<h3>Transferir de <%= fromAccount.get('name') %> para <%= account.get('name') %></h3>
<% } %>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="control-label col-sm-2">Título:</label>
    <div class="col-sm-10">
      <input class="form-control" name="title" value="<%= model.get('title') %>"/>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Categoria:</label>
    <div class="col-sm-10">
      <select class="form-control" name="categoryId">
        <%
          var categoryLeafs = categories.filter(function (c) {return (c.get('hidden') == false || c.get('hidden') == null) && categories.where({parentId:c.id}).length == 0});
          categoryLeafs.sort(function (c1, c2) {
            return c1.getLeafName().localeCompare(c2.getLeafName());
          });
        %>
        <% for (var i = 0; i < categoryLeafs.length; i++) { %>
          <option value="<%= categoryLeafs[i].id %>" <%= model.get('categoryId') == categoryLeafs[i].id ? 'selected="selected"' : '' %>><%= categoryLeafs[i].getLeafName() %></option>
        <% } %>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Valor:</label>
    <div class="col-sm-10">
      <input type="number" step="0.01" class="form-control" name="value" value="<%= Math.abs(model.get('value')) %>" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Ocorrido em:</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" name="happened" value="<%= moment(model.get('happened')).format('YYYY-MM-DD') %>" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Comentários:</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="comments"><%= model.get('comments') %></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Salvar</button>
    </div>
  </div>
</Form>