<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Título</th>
      <th>Data</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <%
      var transactions = this.transactions;
      for (var i = 0; i < transactions.length; i++) {
    %>
      <tr>
        <td>
          <a href="/transactions/<%= transactions[i].get('id') %>">
            <%= transactions[i].get('title') %>
          </a>
        </td>
        <td><%= transactions[i].get('happened') %></td>
        <td>$ <%= Math.abs(transactions[i].get('value')).toFixed(2) %></td>
      </tr>
    <% } %>
  </tbody>
  <% if (this.totalLine) { %>
    <tfoot>
      <tr class="total">
        <td colspan="3">
          <%= this.totalLine %>
        </td>
      </tr>
    </tfoot>
  <% } %>
</table>
