<% if (collection.length == 0) { %>
  <h4>No recent transactions</h4>
<% } else { %>
  <h3>Recent Transactions</h3>
  <table class="table center recent">
    <thead>
      <tr>
        <th>Title</th>
        <th>Value</th>
        <th>Happened</th>
        <th>Account</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < collection.length; i++) { %>
        <tr>
          <td><%= collection.at(i).get('title') %></a></td>
          <td>$ <%= collection.at(i).get('value') %></a></td>
          <td><%= collection.at(i).get('happened') %></a></td>
          <td><%= accounts.get(collection.at(i).get('toAccountId')).get('name') %></a></td>
          <td><%= categories.get(collection.at(i).get('categoryId')).get('name') %></a></td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } %>