sudo: required
dist: trusty
language: java

jdk:
  - oraclejdk8

services:
  - postgresql

before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sudo apt-get update
  - sudo apt-get install -y libappindicator1 fonts-liberation
  - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - sudo dpkg -i google-chrome*.deb
  - .travis/setup_chrome_driver.sh
  - export PATH=`pwd`/bin:$PATH

before_script:
  - export PROFILES=travis,test
  - psql -c 'create database appmoney;' -U postgres
  - ./gradlew bootRun &
  - sleep 20

sript:
  - ./gradlew check
  - ./gradlew integrationTest
