<h3>
  Accounts
  <small><a href="/accounts/new">Create Account</a></small>
</h3>
<% if (collection.length == 0) { %>
  <p>You have no accounts</p>
<% } else { %>
  <table class="table center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < collection.length; i++) { %>
        <tr>
          <td>
            <% if (collection.at(i).get('permissions').indexOf('OWNER') >= 0) { %>
              <a href="/accounts/<%= collection.at(i).id %>"><%= collection.at(i).get('name') %></a></td>
            <% } else { %>
              <%= collection.at(i).get('name') %>
            <% } %>
          <td <%= collection.at(i).get('balance') < 0 ? 'class="negative"' : 'class="positive"' %>>$ <%= Math.abs(collection.at(i).get('balance')).toFixed(2) %></td>
          <td>&nbsp;
            <% if (collection.at(i).get('permissions').indexOf('WRITE') >= 0) { %>
              <% if (this.hasOwnProperty('toAccountId')) { %>
                <% if (this.toAccountId != collection.at(i).id) { %>
                  <a href="/transfer/<%= this.toAccountId %>/<%= collection.at(i).id %>" class="glyphicon glyphicon glyphicon-open btn btn-primary btn-sm"></a>
                <% } %>
              <% } else { %>
                <a href="/credit/<%= collection.at(i).id %>" class="glyphicon glyphicon-plus btn btn-success btn-sm"></a>
                <a href="/debit/<%= collection.at(i).id %>" class="glyphicon glyphicon-minus btn btn-danger btn-sm"></a>
                <a href="#" data-to="<%= collection.at(i).id %>" class="transferTo glyphicon glyphicon glyphicon-save btn btn-primary btn-sm"></a>
              <% } %>
            <% } %>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <div id="recentTransactions"></div>
<% } %>