<h3>
  Accounts
  <small><a href="/accounts/new">Create Account</a></small>
</h3>

<table class="table center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0; i < accounts.length; i++) { %>
      <tr>
        <td><a href="/accounts/<%= accounts[i].id %>"><%= accounts[i].get('name') %></a></td>
        <td>$ <%= accounts[i].get('balance') %></td>
        <td>
            <a href="/credit/<%= accounts[i].id %>" class="glyphicon glyphicon-plus btn btn-success btn-sm"></a>
            <a href="/debit/<%= accounts[i].id %>" class="glyphicon glyphicon-minus btn btn-danger btn-sm"></a>
          </td>
      </tr>
    <% } %>
  </tbody>
</table>