<h3>
  Contas
  <small><a href="/accounts/new">Criar Conta</a></small>
</h3>
<% if (collection.length == 0) { %>
  <p>Você não tem contas.</p>
<% } else { %>
  <table class="table center">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Saldo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <%
        var total = 0;
        var validBalanceCount = 0;
      %>
      <%
        for (var i = 0; i < collection.length; i++) {
          let account = collection.at(i);
      %>
        <tr>
          <td>
            <% if (this.hasPermission(account.get('id'), ['OWNER'])) { %>
              <a href="/accounts/<%= account.id %>"><%= account.get('name') %></a></td>
            <% } else { %>
              <%= account.get('name') %>
            <% } %>
            <% var balance = account.get('balance') %>
            <% if (balance == null) { %>
              <td class="blurred" >$ <%= Math.abs(account.get('initialBalance')).toFixed(2) %></td>
            <% } else { %>
              <%
                validBalanceCount++;
                total += balance;
              %>
              <% if (balance < 0) { %>
                <td class="negative" >$ <%= Math.abs(balance).toFixed(2) %></td>
              <% } else { %>
                <td class="positive" >$ <%= Math.abs(balance).toFixed(2) %></td>
              <% } %>
            <% } %>
           <td>&nbsp;
            <% if (this.hasPermission(account.get('id'), ['OWNER', 'WRITE'])) { %>
              <% if (this.hasOwnProperty('toAccountId')) { %>
                <% if (this.toAccountId != collection.at(i).id) { %>
                  <a href="/transfer/<%= this.toAccountId %>/<%= collection.at(i).id %>" class="glyphicon glyphicon glyphicon-open btn btn-primary btn-sm"></a>
                <% } %>
              <% } else { %>
                <a href="/credit/<%= collection.at(i).id %>" class="glyphicon glyphicon-plus btn btn-success btn-sm"></a>
                <a href="/debit/<%= collection.at(i).id %>" class="glyphicon glyphicon-minus btn btn-danger btn-sm"></a>
                <a href="#" data-to="<%= collection.at(i).id %>" class="transferTo glyphicon glyphicon glyphicon-save btn btn-primary btn-sm"></a>
              <% } %>
            <% } %>
          </td>
        </tr>
      <% } %>
      <tr>
        <td>
          <p><strong>Total</strong></p>
        </td>
        <% if (validBalanceCount > 0) { %>
          <td <%= total < 0 ? 'class="negative"' : 'class="positive"' %>>$ <strong><%= Math.abs(total).toFixed(2) %></strong></td>
        <% } else { %>
          <td class="blurred">$ 00.00</td>
        <% } %>
        <td/>
      </tr>
    </tbody>
  </table>
  <div id="recentTransactions"></div>
<% } %>