<% if (collection.state.totalPages > 1) { %>
  <ul class="pagination">
    <li class="previous-page <%= !collection.hasPreviousPage() ? 'disabled' : ''%>"><a data-action href="#">Previous</a></li>
    <%
      var totalPages = collection.state.totalPages,
        currentPage = collection.state.currentPage,
        toShow = 3;
    %>

    <% if (totalPages > 5 && currentPage > toShow - 2) { %>
      <li><a href="#" data-action>First</a></li>
      <li class="disabled"><a href="#">...</a></li>
    <% } %>

    <% for (var i = 0; i < totalPages; i++) { %>

      <% if (totalPages > 5) { %>
        <% if (Math.abs(i - currentPage) <= 1 || (i == toShow - 1 && currentPage == 0) || (i == totalPages - toShow && currentPage == totalPages - 1)) { %>
          <li <%= i == currentPage ? 'class="active"' : '' %>><a data-action href="#"><%= i + 1 %></a></li>
        <% } %>
      <% } else { %>
        <li <%= i == currentPage ? 'class="active"' : '' %>><a data-action href="#"><%= i + 1 %></a></li>
      <% } %>

    <% } %>

    <% if (totalPages > 5 && totalPages - currentPage > toShow - 1) { %>
      <li class="disabled"><a href="#">...</a></li>
      <li><a href="#" data-action>Last</a></li>
    <% } %>

    <li class="next-page <%= !collection.hasNextPage() ? 'disabled' : ''%>"><a data-action href="#">Next</a></li>
  </ul>
<% } %>