<section class="controls">
  <span id="new-category" class="btn btn-primary glyphicon glyphicon-plus" title="Criar Categoria"></span>
</section>

<h2>Categorias</h2>

<form class="form-inline">
  <div class="form-group">
    <input class="form-control" type="text" id="search-categories" placeholder="Buscar" value="<%= query %>"/>
  </div>
</form>

<% if (filtered.length == 0) { %>
  <p>Nenhuma categoria encontrada.</p>
<% } else { %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Categoria Pai (ID)</th>
        <th>Dono</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%
        for (var i = 0; i < filtered.length ; i++) {
          let category = filtered[i];
      %>
        <tr id="category-<%= category.id %>">
          <td><%= category.get('id') %></td>
          <td><%= category.getHierarchicalRepresentation('&nbsp;&nbsp;&nbsp;&nbsp;') %></td>
          <td><%= category.get('parent') ? `${category.get('parent').name} (${category.get('parent').id})` : '&nbsp;' %></td>
          <td><%= category.get('owner').username %></td>
          <td>
            <span class="edit-category btn btn-default glyphicon glyphicon-pencil" title="Editar Categoria"></span>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } %>
