<% if (this.entries.length !== 0) { %>
  <canvas id="timeline" width="600" height="100"></canvas>
<% } %>

<h3>
  Items do Orçamento
  <small><a href="/forecast_entries/new">Novo</a></small>
</h3>

<% if (this.entries.length === 0) { %>
  <p>Nenhum item neste orçamento. Crie um <a href="/forecast_entries/new">novo</a> item para começar.</p>
<% } else { %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Título</th>
        <th>Categoria</th>
        <th>Realizado Anterior</th>
        <th>Planejado</th>
        <th>Diferença (Atual - Planejado)</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < this.entries.length; i++) { %>
        <tr>
          <td>
            <a href="/forecast_entries/<%= this.entries.at(i).id %>">
              <%= this.entries.at(i).get('title') %>
            </a>
          </td>
          <td><%= this.categories.get(this.entries.at(i).get('categoryId')).get('name') %></td>
          <%
            let spentTotal = this.getSpentTotalForEntryAndPeriodOffset(this.entries.at(i).id, -1);
            let plannedTotal = this.getPlannedTotalForEntryAndPeriodOffset(this.entries.at(i).id, -1);
          %>
          <td>$ <%= spentTotal.toFixed(2) %></td>
          <td>$ <%= plannedTotal.toFixed(2) %></td>
          <td class="<%= plannedTotal.minus(spentTotal).gte(0) ? 'positive' : 'negative' %>">
            $ <%= (plannedTotal.minus(spentTotal).toFixed(2)) %>
          </td>
        </tr>
      <% } %>
      <tr class="other">
        <td></td>
        <td>
          Outros
        </td>
        <td>$ <%= this.getSpentTotalForEntryAndPeriodOffset(-1, -1).toFixed(2) %></td>
        <td>&nbsp;</td>
        <td>$ <%= this.getSpentTotalForEntryAndPeriodOffset(-1, 0).toFixed(2) %></td>
      </tr>
    </tbody>
  </table>
<% } %>
