<% if (this.entries.length !== 0) { %>
  <canvas id="timeline" width="600" height="100"></canvas>
<% } %>

<h3>
  Items do Orçamento
  <small><a href="/forecast_entries/new">Novo</a></small>
</h3>

<% if (this.entries.length === 0) { %>
  <p>Nenhum item neste orçamento. Crie um <a href="/forecast_entries/new">novo</a> item para começar.</p>
<% } else { %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Categoria</th>
        <th>Realizado Anterior</th>
        <th>Planejado</th>
        <th>Realizado Atual</th>
        <th>Diferença (Atual - Planejado)</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < this.entries.length; i++) { %>
        <tr>
          <td>
            <a href="/forecast_entries/<%= this.entries.at(i).id %>">
              <%= this.entries.at(i).get('title') %>
            </a>
          </td>
          <td><%= this.categories.get(this.entries.at(i).get('categoryId')).get('name') %></td>
          <%
            var planned = Math.abs(this.entries.at(i).get('amount')).toFixed(2);
            var present = Math.abs(this.totalPerCategoryPresent[this.entries.at(i).get('categoryId')] || 0).toFixed(2);
          %>
          <td>$ <%= Math.abs(this.totalPerCategoryPast[this.entries.at(i).get('categoryId')] || 0).toFixed(2) %></td>
          <td>$ <%= planned %></td>
          <td>$ <%= present %></td>
          <td class="<%= planned - present < 0 ? 'negative' : '' %>">$ <%= Math.abs(planned - present).toFixed(2) %></td>
        </tr>
      <% } %>
      <tr class="other">
        <td colspan="2">
          Outros
        </td>
        <td class="value">$ <%= Math.abs(this.totalPerCategoryPast['other'] || 0).toFixed(2) %></td>
        <td>&nbsp;</td>
        <td class="value">$ <%= Math.abs(this.totalPerCategoryPresent['other'] || 0).toFixed(2) %></td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
<% } %>