admin:
  username: admin
  password: 1234

user:
  username: john
  password: 1234

spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/appmoney
    username: postgres
    password: admin
  thymeleaf:
    cache: false

oauth:
  google:
    clientId: 960331671953-des925sr54tqc64q6bl1pp7gcduk5tu2.apps.googleusercontent.com
    clientSecret: hpxc9dDWl331kwMuM9XzEtHv
    redirectUri: http://localhost:8080/authenticate/oauth2callback
    scopes: email

secret: secret