#content {
  max-width: 1024px;
  margin: 0 auto;
}

.controls {
  float:right;
  margin: 10px;
  margin-top: 0;
}

a:hover{
  cursor: pointer;
}

.google-button {
  background: #dd4b39;
  color: white;
}

.login {
  text-align: center;
}

#menu-bar .container-fluid {
  margin: 0 auto;
  max-width: 1024px;
}

#menu-bar .container-fluid div {
  padding: 0;
}

.negative {
  color: red;
}

#permissions-table .permission {
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

#permissions-table .permission:active {
  background: #ccc;
}

#permissions-table .permission:hover {
  border: 1px solid #ccc;
}

.positive {
  color: green;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

table.center th, table.center td {
  text-align: center;
}

.tone-down {
  color: #bbb;
}