@media only screen and (max-width: 500px) {
  .negative:before {
    color: black;
  }

  .positive:before {
    color: black;
  }

  table:not([class~='responsive']) td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  table.responsive thead{
    display: none
  }

  table.responsive > tbody > tr > td {
    display: block;
    margin: 0;
    padding: 2px;
    text-align: left;
  }

  table.responsive td:before {
    display: inline-block;
    padding-right: 10px;
    text-align: right;
    width: 150px
  }

  table.responsive td:nth-of-type(1) {
    border: none;
  }

  table.responsive td:before { content: attr(data-column)' :';}

  table.responsive tr {
    border: 1px solid #bbb;
    display: block;
    margin: 5px;
  }
}